body{
margin:0;
font-family:Arial;
background:#f4f4f4;
text-align:center;
}

/* NAVBAR */

nav{
display:flex;
justify-content:space-between;
align-items:center;
padding:15px 40px;
background:#111;
color:white;
}

nav ul{
display:flex;
list-style:none;
}

nav ul li{
margin-left:20px;
}

nav a{
color:white;
text-decoration:none;
}

/* HEADER */

header{
background:#1e3a8a;
color:white;
padding:60px 20px;
}

.profile{
width:150px;
height:150px;
border-radius:50%;
border:5px solid white;
}

/* SECTION */

section{
padding:50px 20px;
}

/* GALLERY */

.gallery{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
gap:20px;
max-width:1000px;
margin:auto;
}

.gallery img{
width:100%;
border-radius:10px;
box-shadow:0 5px 15px rgba(0,0,0,0.2);
transition:0.3s;
}

.gallery img:hover{
transform:scale(1.05);
}

/* CONTACT */

#contact{
background:white;
}

/* WHATSAPP BUTTON */

.whatsapp{
position:fixed;
bottom:20px;
right:20px;
background:#25D366;
color:white;
padding:15px 20px;
border-radius:50px;
text-decoration:none;
font-weight:bold;
}

/* FOOTER */

footer{
background:#111;
color:white;
padding:20px;
}
